<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Audit file appender -->
    <appender name="AUDIT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/t24TAFJ/T24/UD/SIGNATURE-LOG/audit.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/t24TAFJ/T24/UD/SIGNATURE-LOG/audit.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Dedicated audit logger -->
    <logger name="AUDIT_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="AUDIT_FILE"/>
    </logger>

</configuration>
